body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
header {
    background-color: #a52a2a;
    color: white;
    padding: 15px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #800000;
}
nav ul li {
    padding: 10px 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.search {
    text-align: center;
    margin: 20px 0;
}
.search input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
}
.search button {
    padding: 10px;
    font-size: 16px;
    background-color: #a52a2a;
    color: white;
    border: none;
    cursor: pointer;
}
.ranking {
    text-align: center;
    padding: 20px;
}
.ramen-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ramen-item {
    width: 15%;
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.ramen-item p {
    margin: 0;
}
.ramen-item-ramen-name {
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
}

.ramen-item img {
    width: 80%;
    height: auto;
    border-radius: 5px;
}
.new-stores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.store-category {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.store-category h3 {
    background-color: #d9534f;
    color: white;
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
}
.store-category ul {
    list-style-type: none;
    padding: 0;
}
.store-category ul li {
    padding: 5px 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #800000;
    color: white;
    margin-top: 20px;
}
