.ramen-container {
    background-color: #f5f5f5;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ramen-name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

/* ----- search -----*/
.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.search-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #007BFF;
    outline: none;
}

.search-button {
    padding: 10px 30px;
    margin-left: auto;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}


/* ----- pagination ----- */
.pagination {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.pagination-item-selected .pagination-item-link{
    background: #555;
    color: #fff;
    pointer-events: none;
}
.pagination-item-link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background: #fff;
    border: solid 2px #111;
    font-size: 14px;
    color: #111;
    font-weight: bold;
    transition: all 0.15s linear;
}

.pagination-item-link.isActive {
    background: #111;
    color: #fff;
    pointer-events: none;
}
.pagination-item-link:not(.isActive):hover {
    background: #111;
    color: #fff;
}
.pagination > * + * {
    margin-left: 8px;
}




/*--- post ---*/
.ramen-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ramen-form label {
    font-weight: bold;
    color: #555;
}

.ramen-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.star-container {
    display: flex;
    gap: 5px;
}

.eval-star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.eval-star.selected,
.eval-star.hover,
.eval-star:hover
{
    color: gold;
}

button {
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

a {
    display: block;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
}